In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# Shuffle the data
shuffled_indices = np.arange(train_data.shape[0])
np.random.shuffle(shuffled_indices)
train_data = train_data.sample(frac = 1)
train_data = train_data.drop(["Name", "PassengerId", "Ticket", "Embarked", "Cabin"], axis = 1)
test_data = test_data.drop(["Name", "PassengerId", "Ticket", "Embarked", "Cabin"], axis = 1)

In [6]:
train_data.head()

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
504         1       1  female  16.0      0      0  86.5000
113         0       3  female  20.0      1      0   9.8250
582         0       2    male  54.0      0      0  26.0000
396         0       3  female  31.0      0      0   7.8542
553         1       3    male  22.0      0      0   7.2250

In [21]:
# Dealing with null values
for i in train_data.columns:
    if(train_data[i].isnull().values.any()):
        print("Data in", i, "have missing values")

age_average = train_data["Age"].mean().round(2)
train_data["Age"] = train_data["Age"].fillna(age_average)

for i in test_data.columns:
    if(test_data[i].isnull().values.any()):
        print("Data in", i, "have missing values")
test_data["Age"] = test_data["Age"].fillna(age_average)
fare_average = train_data["Fare"].mean().round(4)
test_data["Fare"] = test_data["Fare"].fillna(fare_average)

Data in Age have missing values
Data in Fare have missing values
Data in Cabin have missing values

32.2042

In [8]:
train_data["Sex"][train_data["Sex"] == "male"] = 1
train_data["Sex"][train_data["Sex"] == "female"] = 0

test_data["Sex"][test_data["Sex"] == "male"] = 1
test_data["Sex"][test_data["Sex"] == "female"] = 0

train_data["Sex"], train_data.shape, test_data.shape

C:\Users\Trung\AppData\Local\Temp\ipykernel_15112\162324609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data["Sex"][train_data["Sex"] == "male"] = 1
C:\Users\Trung\AppData\Local\Temp\ipykernel_15112\162324609.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data["Sex"][train_data["Sex"] == "female"] = 0
C:\Users\Trung\AppData\Local\Temp\ipykernel_15112\162324609.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["Sex"][test_data["Sex"] == "male"] = 1
C:\Users\Trung\AppData\Local\Temp\ipykernel_15112\162324609.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["Sex"][test_data["Sex"] == "female"] = 0

(504    0
 113    0
 582    1
 396    0
 553    1
       ..
 847    1
 630    1
 836    1
 378    1
 559    0
 Name: Sex, Length: 891, dtype: object,
 (891, 7),
 (418, 6))

In [9]:
# Create dummies variables
train_data_with_dummies = pd.get_dummies(train_data, columns = ["Pclass"], drop_first = True)
test_data_with_dummies = pd.get_dummies(test_data, columns = ["Pclass"], drop_first = True)
train_data_with_dummies.head()

     Survived Sex   Age  SibSp  Parch     Fare  Pclass_2  Pclass_3
504         1   0  16.0      0      0  86.5000         0         0
113         0   0  20.0      1      0   9.8250         0         1
582         0   1  54.0      0      0  26.0000         1         0
396         0   0  31.0      0      0   7.8542         0         1
553         1   1  22.0      0      0   7.2250         0         1

In [10]:
# Split train data into inputs and targets
train_inputs = train_data_with_dummies.drop(["Survived"], axis = 1)
train_targets = pd.DataFrame(columns = ["Survived"],data = train_data_with_dummies["Survived"])

In [11]:
len(train_targets[train_targets["Survived"] == 1]), len(train_targets[train_targets["Survived"] == 0])

(342, 549)

In [12]:
# Balance the dataset
num_one_targets = int(np.sum(train_targets))
zero_targets = 0
indices_to_remove = []
for i in range(train_targets.shape[0]):
    if(train_targets["Survived"][i] == 0):
        zero_targets += 1
        if(zero_targets > num_one_targets):
            indices_to_remove.append(i)
# train_inputs_equal = train_inputs.drop(indices_to_remove, axis = 0)
# train_targets_equal = train_targets.drop(indices_to_remove, axis = 0)
train_inputs_equal = train_inputs
train_targets_equal = train_targets
len(train_targets_equal[train_targets_equal["Survived"] == 1]), len(train_targets_equal[train_targets_equal["Survived"] == 0])

(342, 549)

In [13]:
# Train test split
from sklearn.model_selection import train_test_split
train_inputs, val_inputs, train_targets, val_targets = train_test_split(train_inputs_equal, train_targets_equal, test_size = 0.2)

In [14]:
# Standardize the inputs
from sklearn import preprocessing
scaled_train_inputs = preprocessing.scale(train_inputs)
scaled_val_inputs = preprocessing.scale(val_inputs)
scaled_test = preprocessing.scale(test_data_with_dummies)

In [15]:
# Save data
np.savez("Titanic data train", inputs = scaled_train_inputs, targets = train_targets)
np.savez("Titanic data test", inputs = scaled_test)
np.savez("Titanic data validation", inputs = scaled_val_inputs, targets = val_targets)

In [16]:
# Load data
npz = np.load("Titanic data train.npz")
train_inputs = npz["inputs"]
train_targets = npz["targets"]

npz = np.load("Titanic data validation.npz")
val_inputs = npz["inputs"]
val_targets = npz["targets"]

In [17]:
input_size = train_inputs.shape[1]
output_size = 2
hidden_layer_size = 50

model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, input_shape = (input_size,), activation = "relu"),
    tf.keras.layers.Dense(hidden_layer_size, activation = "relu"),
    tf.keras.layers.Dense(hidden_layer_size, activation = "relu"),
    tf.keras.layers.Dense(hidden_layer_size, activation = "relu"),
    tf.keras.layers.Dense(output_size, activation = "softmax")
])

model.compile(optimizer = "adam", loss = "sparse_categorical_crossentropy", metrics = ["acc"])

# Training
batch_size = 100
max_epochs = 100
early_stopping = tf.keras.callbacks.EarlyStopping(patience = 1)
model.fit(train_inputs,
          train_targets,
          batch_size = batch_size,
          validation_split = 0.15,
          epochs = max_epochs,
          callbacks = [early_stopping],
          verbose = 2)

Epoch 1/100
7/7 - 1s - loss: 0.6801 - acc: 0.5901 - val_loss: 0.6479 - val_acc: 0.7477 - 782ms/epoch - 112ms/step
Epoch 2/100
7/7 - 0s - loss: 0.6270 - acc: 0.7835 - val_loss: 0.5990 - val_acc: 0.8037 - 61ms/epoch - 9ms/step
Epoch 3/100
7/7 - 0s - loss: 0.5686 - acc: 0.8000 - val_loss: 0.5363 - val_acc: 0.8224 - 62ms/epoch - 9ms/step
Epoch 4/100
7/7 - 0s - loss: 0.5002 - acc: 0.8165 - val_loss: 0.4664 - val_acc: 0.8411 - 61ms/epoch - 9ms/step
Epoch 5/100
7/7 - 0s - loss: 0.4460 - acc: 0.8182 - val_loss: 0.4180 - val_acc: 0.8131 - 56ms/epoch - 8ms/step
Epoch 6/100
7/7 - 0s - loss: 0.4202 - acc: 0.8017 - val_loss: 0.3948 - val_acc: 0.8411 - 55ms/epoch - 8ms/step
Epoch 7/100
7/7 - 0s - loss: 0.4068 - acc: 0.8182 - val_loss: 0.3698 - val_acc: 0.8598 - 57ms/epoch - 8ms/step
Epoch 8/100
7/7 - 0s - loss: 0.3986 - acc: 0.8198 - val_loss: 0.3687 - val_acc: 0.8785 - 60ms/epoch - 9ms/step
Epoch 9/100
7/7 - 0s - loss: 0.3947 - acc: 0.8314 - val_loss: 0.3709 - val_acc: 0.8505 - 55ms/epoch - 8ms/step

In [18]:
data_test = np.load("Titanic data test.npz")["inputs"]
test_targets = model.predict([data_test]).round(2)
print(test_targets)
predictions = []
for i in test_targets:
    if(i[1] > 0.5):
        predictions.append(1)
    else:
        predictions.append(0)
predictions = np.array(predictions)

14/14 [==============================] - 0s 3ms/step
[[0.92 0.08]
 [0.68 0.32]
 [0.96 0.04]
 [0.91 0.09]
 [0.57 0.43]
 [0.84 0.16]
 [0.41 0.59]
 [0.82 0.18]
 [0.38 0.62]
 [0.89 0.11]
 [0.92 0.08]
 [0.79 0.21]
 [0.03 0.97]
 [0.96 0.04]
 [0.02 0.98]
 [0.07 0.93]
 [0.92 0.08]
 [0.89 0.11]
 [0.53 0.47]
 [0.56 0.44]
 [0.73 0.27]
 [0.68 0.32]
 [0.05 0.95]
 [0.48 0.52]
 [0.02 0.98]
 [0.93 0.07]
 [0.04 0.96]
 [0.9  0.1 ]
 [0.75 0.25]
 [0.9  0.1 ]
 [0.94 0.06]
 [0.87 0.13]
 [0.78 0.22]
 [0.74 0.26]
 [0.64 0.36]
 [0.87 0.13]
 [0.41 0.59]
 [0.39 0.61]
 [0.9  0.1 ]
 [0.88 0.12]
 [0.91 0.09]
 [0.69 0.31]
 [0.92 0.08]
 [0.08 0.92]
 [0.02 0.98]
 [0.9  0.1 ]
 [0.78 0.22]
 [0.92 0.08]
 [0.02 0.98]
 [0.59 0.41]
 [0.63 0.37]
 [0.91 0.09]
 [0.12 0.88]
 [0.02 0.98]
 [0.91 0.09]
 [0.98 0.02]
 [0.92 0.08]
 [0.9  0.1 ]
 [0.88 0.12]
 [0.01 0.99]
 [0.86 0.14]
 [0.92 0.08]
 [0.87 0.13]
 [0.39 0.61]
 [0.58 0.42]
 [0.07 0.93]
 [0.38 0.62]
 [0.77 0.23]
 [0.7  0.3 ]
 [0.03 0.97]
 [0.4  0.6 ]
 [0.89 0.11]
 [0.41 0.59]
 [0.69 0.31]
 [0.01 0.99]
 [0.62 0.38]
 [0.92 0.08]
 [0.11 0.89]
 [0.91 0.09]
 [0.4  0.6 ]
 [0.69 0.31]
 [0.26 0.74]
 [0.81 0.19]
 [0.92 0.08]
 [0.92 0.08]
 [0.88 0.12]
 [0.4  0.6 ]
 [0.38 0.62]
 [0.41 0.59]
 [0.27 0.73]
 [0.5  0.5 ]
 [0.92 0.08]
 [0.08 0.92]
 [0.92 0.08]
 [0.67 0.33]
 [0.9  0.1 ]
 [0.04 0.96]
 [0.92 0.08]
 [0.39 0.61]
 [0.92 0.08]
 [0.02 0.98]
 [0.89 0.11]
 [0.92 0.08]
 [0.91 0.09]
 [0.51 0.49]
 [0.9  0.1 ]
 [0.89 0.11]
 [0.92 0.08]
 [0.92 0.08]
 [0.87 0.13]
 [0.93 0.07]
 [0.41 0.59]
 [0.04 0.96]
 [0.38 0.62]
 [0.   1.  ]
 [0.85 0.15]
 [0.92 0.08]
 [0.34 0.66]
 [0.68 0.32]
 [0.09 0.91]
 [0.06 0.94]
 [0.89 0.11]
 [0.03 0.97]
 [0.91 0.09]
 [0.92 0.08]
 [0.36 0.64]
 [0.89 0.11]
 [0.65 0.35]
 [0.93 0.07]
 [0.9  0.1 ]
 [0.92 0.08]
 [0.83 0.17]
 [0.74 0.26]
 [0.89 0.11]
 [0.93 0.07]
 [0.9  0.1 ]
 [0.91 0.09]
 [0.91 0.09]
 [0.39 0.61]
 [0.98 0.02]
 [0.98 0.02]
 [0.01 0.99]
 [0.65 0.35]
 [0.91 0.09]
 [0.77 0.23]
 [0.95 0.05]
 [0.66 0.34]
 [0.89 0.11]
 [0.69 0.31]
 [0.87 0.13]
 [0.04 0.96]
 [0.92 0.08]
 [0.56 0.44]
 [0.6  0.4 ]
 [0.99 0.01]
 [0.9  0.1 ]
 [0.01 0.99]
 [0.4  0.6 ]
 [0.77 0.23]
 [0.47 0.53]
 [0.41 0.59]
 [0.7  0.3 ]
 [0.06 0.94]
 [0.92 0.08]
 [0.93 0.07]
 [0.59 0.41]
 [0.76 0.24]
 [0.93 0.07]
 [0.05 0.95]
 [0.39 0.61]
 [0.92 0.08]
 [0.91 0.09]
 [0.87 0.13]
 [0.92 0.08]
 [0.97 0.03]
 [0.03 0.97]
 [0.04 0.96]
 [0.74 0.26]
 [0.06 0.94]
 [0.07 0.93]
 [0.91 0.09]
 [0.65 0.35]
 [0.05 0.95]
 [0.92 0.08]
 [0.02 0.98]
 [0.92 0.08]
 [0.04 0.96]
 [0.9  0.1 ]
 [1.   0.  ]
 [0.92 0.08]
 [0.91 0.09]
 [0.7  0.3 ]
 [0.75 0.25]
 [0.96 0.04]
 [0.21 0.79]
 [0.92 0.08]
 [0.27 0.73]
 [0.38 0.62]
 [0.9  0.1 ]
 [0.41 0.59]
 [0.4  0.6 ]
 [0.4  0.6 ]
 [0.4  0.6 ]
 [0.04 0.96]
 [0.91 0.09]
 [0.7  0.3 ]
 [0.44 0.56]
 [0.91 0.09]
 [0.04 0.96]
 [0.9  0.1 ]
 [0.91 0.09]
 [0.92 0.08]
 [0.83 0.17]
 [0.34 0.66]
 [0.99 0.01]
 [0.74 0.26]
 [0.41 0.59]
 [0.49 0.51]
 [0.01 0.99]
 [0.92 0.08]
 [0.11 0.89]
 [0.89 0.11]
 [0.06 0.94]
 [0.89 0.11]
 [0.04 0.96]
 [0.51 0.49]
 [0.9  0.1 ]
 [0.41 0.59]
 [0.92 0.08]
 [0.92 0.08]
 [0.8  0.2 ]
 [0.07 0.93]
 [0.88 0.12]
 [0.92 0.08]
 [0.6  0.4 ]
 [0.88 0.12]
 [0.75 0.25]
 [0.88 0.12]
 [0.05 0.95]
 [0.01 0.99]
 [0.05 0.95]
 [0.08 0.92]
 [0.57 0.43]
 [0.92 0.08]
 [0.9  0.1 ]
 [0.67 0.33]
 [0.05 0.95]
 [0.92 0.08]
 [0.09 0.91]
 [0.52 0.48]
 [0.03 0.97]
 [0.88 0.12]
 [0.6  0.4 ]
 [0.9  0.1 ]
 [0.92 0.08]
 [0.92 0.08]
 [0.92 0.08]
 [0.91 0.09]
 [0.05 0.95]
 [0.89 0.11]
 [0.89 0.11]
 [0.89 0.11]
 [0.04 0.96]
 [0.35 0.65]
 [0.91 0.09]
 [0.92 0.08]
 [0.75 0.25]
 [0.92 0.08]
 [0.41 0.59]
 [0.86 0.14]
 [0.71 0.29]
 [0.92 0.08]
 [0.02 0.98]
 [0.52 0.48]
 [0.92 0.08]
 [0.07 0.93]
 [0.91 0.09]
 [0.92 0.08]
 [0.9  0.1 ]
 [0.9  0.1 ]
 [0.39 0.61]
 [0.64 0.36]
 [0.41 0.59]
 [0.43 0.57]
 [0.35 0.65]
 [0.92 0.08]
 [0.92 0.08]
 [0.61 0.39]
 [0.92 0.08]
 [0.92 0.08]
 [0.68 0.32]
 [0.41 0.59]
 [0.92 0.08]
 [0.73 0.27]
 [0.92 0.08]
 [0.91 0.09]
 [0.03 0.97]
 [0.9  0.1 ]
 [0.67 0.33]
 [0.92 0.08]
 [0.92 0.08]
 [0.91 0.09]
 [0.92 0.08]
 [0.9  0.1 ]
 [0.41 0.59]
 [0.12 0.88]
 [0.6  0.4 ]
 [0.55 0.45]
 [0.71 0.29]
 [0.64 0.36]
 [0.87 0.13]
 [0.89 0.11]
 [0.92 0.08]
 [0.46 0.54]
 [0.01 0.99]
 [0.38 0.62]
 [0.41 0.59]
 [0.88 0.12]
 [0.91 0.09]
 [0.86 0.14]
 [0.91 0.09]
 [0.9  0.1 ]
 [0.91 0.09]
 [0.71 0.29]
 [0.01 0.99]
 [0.9  0.1 ]
 [0.08 0.92]
 [0.71 0.29]
 [0.9  0.1 ]
 [0.89 0.11]
 [0.1  0.9 ]
 [0.74 0.26]
 [0.92 0.08]
 [0.53 0.47]
 [0.91 0.09]
 [0.7  0.3 ]
 [0.92 0.08]
 [0.91 0.09]
 [0.9  0.1 ]
 [0.92 0.08]
 [0.87 0.13]
 [0.92 0.08]
 [0.99 0.01]
 [0.01 0.99]
 [0.88 0.12]
 [0.37 0.63]
 [0.91 0.09]
 [0.47 0.53]
 [0.91 0.09]
 [0.08 0.92]
 [0.02 0.98]
 [0.91 0.09]
 [0.84 0.16]
 [0.92 0.08]
 [0.33 0.67]
 [0.82 0.18]
 [0.06 0.94]
 [0.92 0.08]
 [0.92 0.08]
 [0.52 0.48]
 [1.   0.  ]
 [0.05 0.95]
 [0.08 0.92]
 [0.91 0.09]
 [0.04 0.96]
 [0.96 0.04]
 [0.88 0.12]
 [0.35 0.65]
 [0.03 0.97]
 [0.91 0.09]
 [0.87 0.13]
 [0.01 0.99]
 [0.85 0.15]
 [0.93 0.07]
 [0.02 0.98]
 [0.01 0.99]
 [0.68 0.32]
 [0.89 0.11]
 [0.81 0.19]
 [0.98 0.02]
 [0.92 0.08]
 [0.91 0.09]
 [0.4  0.6 ]
 [0.48 0.52]
 [0.91 0.09]
 [0.05 0.95]
 [0.9  0.1 ]
 [0.95 0.05]
 [0.89 0.11]
 [0.95 0.05]
 [0.62 0.38]
 [0.05 0.95]
 [0.61 0.39]
 [0.94 0.06]
 [0.96 0.04]
 [0.05 0.95]
 [0.9  0.1 ]
 [0.02 0.98]
 [0.89 0.11]
 [0.92 0.08]
 [0.01 0.99]
 [0.92 0.08]
 [0.04 0.96]
 [0.61 0.39]
 [0.75 0.25]
 [0.88 0.12]
 [0.88 0.12]
 [0.5  0.5 ]
 [0.41 0.59]
 [0.37 0.63]
 [0.41 0.59]
 [0.02 0.98]
 [0.41 0.59]
 [0.92 0.08]
 [0.01 0.99]
 [0.92 0.08]
 [0.92 0.08]
 [0.87 0.13]]

In [19]:
test_loss, test_accuracy = model.evaluate(data_test, predictions)

14/14 [==============================] - 0s 2ms/step - loss: 0.2018 - acc: 0.9976

In [20]:
test_data = pd.read_csv("test.csv")
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!